.dishes {
	display: flex;
	flex-direction: column;
	row-gap: 65px;
	align-items: center;

	@include desktop {
		row-gap: 55px;
	}

	@include mobile {

	}


	&__list {
		
	}

	&__item {
		flex-grow: 1;
		height: 100%;
	}

	&__button {
		align-self: end;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
	}
}