.restaurant-card {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	overflow: hidden;
	height: 100%;

	box-shadow: 6px 71px 35px rgba(229,229,229,0.7);

	@include tablet {
		border-radius: 21px;
		box-shadow: 4px 50px 25px rgba(229,229,229,0.7);

	}

	@include mobile {
		border-radius: 24px;
		box-shadow: 4px 56px 28px rgba(229,229,229,0.7);

	}

	&__image {
		@include tablet {
			height: auto;
		}
	}


	&__body {
		background-color: #ffffff;
		display: flex;
		column-gap: 12px;
		justify-content: space-between;
		padding: 11px 27px 18px 34px;
		flex-grow: 1;

		@include tablet {
			padding: 8px 19px 13px 24px;
		}

		@include mobile {
			padding: 9px 21px 14px 27px;
		}
	}

	&__main {
		font-family: "Poppins";
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: 2px;
		flex-grow: 1;
	}

	&__inner {
		display: flex;
		align-items: center;
		column-gap: 7px;
		font-family: "Manrope";
		color: #8E97A6;
		font-size: 19px;
		line-height: 1.4;

		@include tablet {
			font-size: 14px;
			column-gap: 4px;
		}

		@include mobile {
			font-size: 15px;
			column-gap: 6px;
		}
	}

	&__label {
		font-size: 12px;
		line-height: 1;
		padding: 4px 8px;
		border-radius: 5px;
		background-color: #F7EDD0;
		color: #DAA31A;

		&--warning {
			background-color: #F7C5BA;
			color: #FB471D;
		}

		@include tablet {
			font-size: 9px;
			padding: 3px 6px;
		}

		@include mobile {
			font-size: 10px;
			padding: 4px 7px;
		}
	}

	&__title {
		font-size: 26px;
		font-weight: 600;
		line-height: 1.6;
		flex-grow: 1;

		@include tablet {
			font-size: 18px;
		}

		@include mobile {
			font-size: 20px;
		}
	}

	&__star {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #6C5FBC;
	}

	&__delivery-time {
		display: flex;
		align-items: center;
		column-gap: 9px;

		@include tablet {
			column-gap: 6px;
		}

		@include mobile {
			column-gap: 8px;
		}

		&::after {
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #8E97A6;
		}
	}

	&__favorite {
		align-self: flex-end;
	}
}