.section {


	&--hero {
		padding-block: 45px 85px;

		@include tablet {
			padding-block: 35px 60px;
		}
	}

	&--features {
		width: 100%;
		padding-block: 49px;
		background-color: var(--color-accent);
		margin: 0;
		max-width: 100%;
		background: left / contain no-repeat url("/images/features-bg-left.svg"), right / contain no-repeat url("/images/features-bg-right.svg"), var(--color-accent);

		@include desktop {
			padding-block: 35px;
		}

		@include mobile {
			padding-bottom: 26px;
			padding-inline: 60px;

			background: top left/330px auto no-repeat url("/images/features-mobile-top-left-bg.svg"), bottom right/135px auto no-repeat url("/images/features-mobile-bottom-right-bg.svg"), var(--color-accent);

		}
		
	}
}