.statistic-card {
	padding: 25px;
	border-radius: 19px;
	border: 1px solid #EDF2F7;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	@include tablet {
		padding: 18px;
		border-radius: 13px;
		row-gap: 15px;
	}

	@include mobile {
		padding: 15px;
		border-radius: 11px;
		row-gap: 12px;
	}

	&__badge {
		@include square(50px);
		@include flex-center;

		border-radius: 50%;
		background-color: #F4F0FF;
		color: #936DFF;
		flex-shrink: 0;

		@include tablet {
			width: 36px;
		}

		@include mobile {
			width: 30px;
		}

		svg {
			width: 25px;
			height: 25px;
			flex-shrink: 0;

			@include tablet {
				width: 18px;
				height: 18px;
			}

			@include mobile {
				width: 15px;
				height: 15px;
			}
		}

		&--primary {
			background-color: #F2FDF6;
			color: #22C55E;
	
		}
	}

	&__body {
		display: flex;
		align-items: center;
		column-gap: 18px;

		@include tablet {
			column-gap: 14px;
		}

		@include mobile {
			column-gap: 11px;
		}
	}

	&__title {
		font-family: "Manrope";
		font-size: 19px;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.63px;

		@include tablet {
			font-size: 13px;
		}

		@include mobile {
			font-size: 11px;
		}
	}

	&__conclusion {
		font-family: "Manrope";
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.63px;
		color: #A0AEC0;

		@include tablet {
			font-size: 11px;
		}

		@include mobile {
			font-size: 9px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 3px;

		@include tablet {
			row-gap: 2px;
		}
	}

	&__progress {
		width: 100%;
		height: 10px;
		border-radius: 5px;
		background-color: rgba(108,95,188,0.2);
		position: relative;
		overflow-x: hidden;

		@include tablet {
			height: 7px;
		}

		@include mobile {
			height: 5px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 55%;
			border-radius: 5px;
			background-color: rgba(108,95,188,1);
		}

		&--accent {
			background-color: rgba(251,173,24,0.2);

			&::after {
				background-color: rgba(251,173,24,1);
			}
		}
	}

	&__value {
		font-family: "Manrope";
		font-size: 22px;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.31px;
		margin-left: auto;

		@include tablet {
			font-size: 15px;
		}

		@include mobile {
			font-size: 13px;
		}
	}
}